td{
	padding: 1%;
}
.proximity-container{
	position:absolute;
	color: white;
	top:0;
	padding-top: 4.5%;
}

.proximityGroup{
	position: absolute;
	
}

.location{
	font-family: WorkSans-Regular;
	font-size: 0.94vw;
	position: relative;
	display: inline-block;
}

.proximityGroup .tracker{
	font-size: 1.26vw;
	float: left;
	position: relative;
}

.cityTiles{
	background-image: url("../res/compare_city/Gradient background.jpg");
    background-size: cover;
	padding: 2%;
}

.cityTile{
	position: relative;
	width: 32%;
	cursor: pointer;
}

.cityTileImg {
	height: 100%;
	width: 100%;
}

.cityTileRow{
	margin-left:0.1%;
}

.cityName{
	position: absolute;
	top: 1%;
	left: 3%;
	text-align: left;
	font-size: 1.8vw;
	color: white;
	font-family: Korolev-Light;
	display: block;
}

.cityProvince{
	position: absolute;
	top: 12%;
	left: 3%;
	text-align: left;
	font-size: 1vw;
	font-family: Korolev-Bold;
	color: white;
}

.livLabel{
	position: absolute;
	font-family: Korolev-Bold;
	font-size: 1vw;
	color: white;
	margin-left: -42%;
	margin-top: 1.5%;
	width: 50%;
}

.scoreCircle {
    border-radius: 50%;
    width:15%;
    height:22%;
    background-color: transparent;
    border: 0.3vw solid #56DA65;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 1.8vw;
    font-family: Korolev-Heavy;
    position: absolute;
    margin-top: -64%;
    margin-left: 83%;
}

.cityTags{
	position: absolute;
	width: 100%;
	margin-top: -19%;
}

.cityTagIcon{
	width: 20%;
	transform: scale(-1, 1);
}

#sortList{
	margin-top: 34%;
	margin-left: -70%;
}

#topTiles{
	height: 100%;
}

#bottomTiles{
	height: 100%;
}

#selectCities{
	background-image: url('../res/CityPic-withOutline.jpg'); 
	background-size: cover; 
	background-repeat: no-repeat;
	height: 100%;
	margin-top: -3.7%;
	padding: 10%;
	color: white;
}

#selectCitiesHead{
	font-family: WorkSans-Regular;
	font-size: 2vw;
	/*margin-top: 40px;*/

}

#selectCitiesBody{
	font-family: WorkSans-Regular;
	font-size: 1.4vw;
	line-height: 110%;
}

#selectCitiesText{
	height: 100%;
	/*width: 100%;*/
	margin-left: 14%;
	margin-top: -4%;
}

#selectCitiesFilters{
	font-family: WorkSans-Light;
	font-size: 1vw;
	width: 75%;
}

#clearFilter{
	text-decoration:underline;
	margin-top: 1%;
	cursor: pointer;
	/*margin-left: 250px;*/
}

.livabilityDesc{
	
	height: 100%;
	padding: 0px;
	background-color:#6DA777;	
}

.livabilityImg{

	height: 100%;
	width: 100%;
	opacity: 0;
	 transition: opacity 1s;
    -webkit-transition: opacity 1s;
}

.post-content {
	z-index: 2;
	margin-left: 26%;
    top:0;
    left:0;
    position: absolute;
    color: white;
    padding-top: 8%;
}

.post-content h3{
	font-size: 1.8vw;
	font-family: WorkSans-SemiBold;
}

.post-content h4{
	font-size: 1.2vw;
	font-family: WorkSans-Medium;
	line-height: 150%;
}


#livimg1:hover .livabilityImg{
	opacity: 1;
}
#livimg2:hover .livabilityImg{
	opacity: 1;
}



.livabilityscores{
	margin-left: 32%;
	margin-right: 10%;
	
}
.migrationhelp{
	margin-right: 32%;
	margin-left: 10%;

}
.livabilityscores>h2,
.livabilityscores>p{
	color: white;
}
.migrationhelp>h2,
.migrationhelp>p{
	color: white;
}

/*Retrieved from: http://bootsnipp.com/snippets/featured/multi-level-dropdown-menu-bs3*/
.dropdown-submenu {
    position: relative;
    box-shadow: 0 5px 15px rgba(0,0,0,0);
	border-radius: 0;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    box-shadow: 0 5px 15px rgba(0,0,0,0);
	border-radius: 0;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
/*-----------------------------------------------------*/

.dropdown {
	/*width: 500vw;*/
}

.dropdown-label{
	background-color: white;
	color: black;
	padding: 1%;
	padding-left: 5%; 
	border: 1px solid black;
	outline-color: black;
	width: 54.6%;
	text-align: left;
	box-shadow: 0 5px 15px rgba(0,0,0,0);
	border-radius: 0;
}

.dropdown .caret{
	/*margin-left: 24.5%;
	margin-right: 1.5%;*/
	float: right;
	margin-right: 2%;
	margin-top: 4%;
}

.dropdown-menu{
	padding: none !important;
	width: 54.6%;
	box-shadow: 0 5px 15px rgba(0,0,0,0);
	border-radius: 0;
}

.dropdown-menu .selected{
	background-color: #CCCCCC;
}