body {
	margin: 0px auto;
	padding: 0px;
	height: 100%;
	width: 100%;
}

td{
	padding: 1%;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.cityTiles{
	background-color:#273848;
	/*margin: 0px auto;*/
	
	padding: 1.5%;
}

.cityTile{
	position: relative;
	width: 32%;
	/*height: 302px;*/
	/*margin: 0 auto;*/
	/*-webkit-filter: brightness(100%);*/
}

.cityTileImg {
	height: 100%;
	width: 100%;
}

.cityName{
	position: absolute;
	top: 1%;
	left: 3%;
	text-align: left;
	font-size: 1.8vw;
	color: white;
	font-family: Korolev-Light;
	display: block;
}

.cityProvince{
	position: absolute;
	top: 12%;
	left: 3%;
	text-align: left;
	font-size: 1vw;
	font-family: Korolev-Bold;
	color: white;
}

.cityTags{
	position: absolute;
	-webkit-transform: translate(215%, -60%); 
	width: 40%;
	height: 40%;
}

.cityTagIcon{
	position: absolute;
}

#sortList{
	margin-top: 34%;
	margin-left: -80%;
	width: 80%;
	border: 1px solid black;
	outline-color: black;
	/*width: 190px !important;*/
	/*padding-top:-30px !important;*/
	color: black;
}

#topTiles{
	height: 100%;
}

#bottomTiles{
	height: 100%;
}

#selectCities{
	background-image: url('../res/CityPic-withOutline.jpg'); 
	background-size: cover; 
	background-repeat: no-repeat;
	height: 100%;
	margin-top: -3.5%;
	padding: 10%;
	color: white;
}

#selectCitiesHead{
	font-family: WorkSans-Regular;
	font-size: 2vw;
	/*margin-top: 40px;*/

}

#selectCitiesBody{
	font-family: WorkSans-Regular;
	font-size: 1.4vw;
	line-height: 110%;
}

#selectCitiesText{
	height: 100%;
	/*width: 100%;*/
	margin-left: 14%;
	margin-top: -4%;
}

#selectCitiesFilters{
	font-family: WorkSans-Light;
	font-size: 1vw;
	width: 75%;
}

#livabilityDesc{
	
	height: 100%;
	padding-top: 5%;
	padding-bottom: 5%;
	background-color:#6DA777;	

}

/*#filterHead{
	padding-top:24px;
}*/

#clearFilter{
	text-decoration:underline;
	margin-top: 1%;
	/*margin-left: 250px;*/
}

#livabilityDesc{
}

.livabilityImg{
	height: 100%;
	width: 100%;
}

.livabilityscores{
	margin-left: 32%;
	margin-right: 10%;
	
}
.migrationhelp{
	margin-right: 32%;
	margin-left: 10%;

}
.livabilityscores>h2,
.livabilityscores>p{
	color: white;
}
.migrationhelp>h2,
.migrationhelp>p{
	color: white;
}