.left{
	float: left;
}

.right{
	float: right;
}

.carousel-indicators li { 
	visibility: hidden; 
}

.carousel-inner>.active { width: 100% }

#cityCarousel{
	position: relative;
	margin-top: -0.1%;
}

#carouselCaption{
	position: absolute;
	text-align: center;
	-webkit-transform: translate(0%, -800%); 
	color: white;
	width: 100%;
	/*height: 100%;*/
}

.captionHeader{
	font-family: Korolev-Heavy;
	font-size: 3vw;
	margin-top: -1%;	
}

.breadCrumbs{
	font-family: WorkSans-Light;
	font-size: 1vw;
}

.breadCrumbs > .breadCrumbsPage{
	font-family: WorkSans-Medium;
	font-size: 1vw;
}

.carouselImages{
	width: 100%;
}

#aboutContent{
	margin-bottom: 5%;
}

#aboutImage{
	width: 100%;
	margin-bottom: -1%;
}

#aboutHeader{
	color: #2C98DA;
	font-family: Korolev-Light;
	font-size: 4vw;
	width: 100%;
	text-align: center;	
	margin-top: 2%;
}

.aboutText{
	color: #2C98DA;
	font-family: WorkSans-Regular;
	font-size: 1vw;
	width:50%;
}

#categoryWheel{
	background-color: #183449;
	/*width: 100%;*/
	height: 100%;
}

.scoreCircle {
	z-index: 101;
    border-radius: 50%;
    width:18%;
    height:19.4%;
    background-color: transparent;
    border: .8vw solid #56DA65;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 3vw;
    font-family: Korolev-Heavy;
    position: absolute;
    margin-top:-54.2%;
    margin-left: 41%;
    /*visibility: hidden;*/
}

.wheel{
	position: relative;
}

.wheelImage{
	margin: 0 auto;
	margin-top: 20%;
	margin-bottom: 20%;
	width: 50%;
}

.wheelTag{
	z-index: 100;
	position: absolute;
	background-repeat: no-repeat;
	background-position: center;
	height: 20%;
	width: 20%;
	background-size: contain;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

.wheelTagScore{
	font-size: 3vw;
    font-family: Korolev-Heavy;
	margin-top: -10%;
}

.wheelText{
	padding: 15%;
	margin-top: 8%;
	color: white;
	width: 100%;
	vertical-align: middle;
}

#catWheelHeader{
	font-size: 2.3vw;
	font-family: WorkSans-Light;
}

#catWheelText{
	font-size: 1.3vw;
	font-family: WorkSans-Light;
}

#content{
	background-color: #183449;
	/*width: 100%;*/
	height: 100%;
}

#compareCity{
	background-image: url("../res/CityPic-withOutline.jpg");
	background-size: auto 100%;
	background-repeat: no-repeat;
}

#compareText{
	height: 100%;
	width: 100%;
	color: white;
	font-size: 3vw;
	font-family: WorkSans-Regular;
	text-align: center;
	padding: 20%;
	margin-top: -10%;
}

#compareSearch{
	margin-top: -15%;
	margin-right: 35%;
	width: 30%;
}

#migrationText{
	font-family: WorkSans-Regular;
	font-size: 2.1vw;
	text-align: center;
	color: #2C98DA;
	margin-top: 5%;
}

.btn-migrate{
	margin: 0 auto;
    text-align:center;
    background-color: #72C46E;
    color:white;
    font-family:WorkSans-Medium;
    font-size: 1.2vw;
    border-radius:0;
    text-transform:uppercase;
    width: 15%;
    /*height: 100%;*/
    padding: 1%;
    margin-top: 3%;
    margin-bottom: 5%;
    display: block;
}

.btn-liveScore{
	margin: 0 auto;
    text-align:center;
    background-color: #E3C25A;
    color:white;
    font-family:WorkSans-Medium;
    font-size: 1.5vw;
    border-radius:0;
    text-transform:uppercase;
    width: 50%;
    padding: 1%;
    margin-top: 8%;
    margin-bottom: 5%;
    margin-left: 15%;
    display: block;
}

#compareModal .modal-dialog{
	width: 100%;
	color:white;
}

#compareModal .modal-body{
	padding: 0;
}

#compareModal .modal-content{
	background-image: url("../res/compare_city/Gradient background.jpg");
	background-size: cover;
	box-shadow: 0 5px 15px rgba(0,0,0,0);
	border-radius: 0;
}

#city1 .item img{
	display: inline;
	height: 60vh;
	width: 100%;
}

#city2 .item img{
	display: inline;
	height: 60vh;
	width: 100%;
}

.compareCity1Text{
	margin-top: 5%;
	margin-left: 5%;
	text-align: left;
}

.compareCity2Text{
	margin-top: 5%;
	margin-right: 5%;
	text-align: right;
}

.linkToCity{
	font-family: WorkSans-Regular;
	font-size: 1vw;
}

.cityName{
	font-family: Korolev-Medium;
	font-size: 2vw;
}

.cityDesc{
	font-family: WorkSans-Regular;
	font-size: 1.2vw;
}

.compareScoreCircle{
    border-radius: 50%;
    background-color: transparent;
    border: .5vw solid #56DA65;
    color: white;
    font-size: 3.5vw;
    font-family: Korolev-Heavy;
    padding: 15%;
    text-align: center;
	display: block;
	margin: 0 auto;
	width: 65%;
}

.compareScore{
	margin-top: 3.5%;
}