body {
	margin: 0px auto;
	padding: 0px;
	height: 100%;
	width: 100%;
}

.center{
	margin: auto;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.btn:hover{
	color: grey;
}

.bold{
	font-weight: bold;
}