body {
	margin: 0px auto;
	padding: 0px;
	height: 100%;
	width: 100%;
}

.center{
	margin: auto;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.btn:hover{
	color: grey;
}

.bold{
	font-weight: bold;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-state-active.ui-button:hover {
	background-color: #F0F0F0 !important;
	border:none !important;
}