/*Override bootstrap*/
.container-fluid {
    padding: 0;
}

.row {
    margin: 0;

}

.navbar-default {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0;
    background-color: rgba(109,167,119,0.7);
    border-color: rgb(109,167,119);
    border: 0px;
    border-radius: 0px;
    color: white;
}

.navbar-default .navbar-nav {
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.navbar-default .navbar-nav > li {
    display: inline-block;
    width: 33%;
}

.navbar-default .navbar-nav > li > a {
    padding-top: 4%;
    padding-bottom: 4%;
    text-align: center;
    height: 100%;
    font-family: WorkSans-Light;
    font-size: 1.39vw;
    color: white;
}

.navbar-default .navbar-nav > li > a:hover {
    background-color: rgba(204, 255, 204,0.7);
}

.navbar-default .navbar-nav > .active > a {
    color: white;
    background-color: rgba(50, 120, 114,0.9);
}

.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    background-color: rgba(204, 255, 204,0.7);
}

..gradient {
    border-width: 3px 3px 3px 0;
    border-style: solid;
    -webkit-border-image: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(204, 255, 204,0.7)), to(rgba(204, 242, 241,0.7))) 1 100%;
    -webkit-border-image: -webkit-linear-gradient(left, black, rgba(0, 0, 0, 0)) 1 100%;
    -moz-border-image: -moz-linear-gradient(left, black, rgba(0, 0, 0, 0)) 1 100%;
    -o-border-image: -o-linear-gradient(left, black, rgba(0, 0, 0, 0)) 1 100%;
    border-image: linear-gradient(to left, rgba(204, 255, 204,0.7), rgba(0, 0, 0, 0)) 1 100%;
}

#picture_hero {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

#logo-group {
    position: absolute;
    margin: auto;
    top: 18%;
    width: 100%;
}

#logo-group .subtext {
    padding: 2%;
    font-size: 1.5vw;
    width: 100%;
    color: white;
    text-align: center;
    display: block;
    font-family: WorkSans-Light;
    margin-left: auto;
    margin-right: auto;
}

#search-bar-group {
    position: absolute;
    top: 0;
    margin-top: 43.5%;
}

.search-group {
    color: #7A7A7A;
    margin: 0.5% auto;
    padding-left: 5%;
    padding-right: 5%;
}

.search-group .input-group-addon {
    background: #51BBC8 !important;
    border: 0px;
    border-radius: 0px;
    font-family: WorkSans-Light;
}

.input-group-addon {
    padding-top: 4px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-left: 8px;
}

.search-group .form-control {
    font-size: 1.3vw;
    height: 100%;
    border-radius: 0px;
    border-right: 0;
    box-shadow: 0 0 0;
    border-right: 48px solid;
    border-image: linear-gradient(to left, rgba(81, 187, 200,0.7), rgba(0, 0, 0, 0)) 1 100%;
}

.search-group button {
    background: #51BBC8 !important;
    color: white;
    font-size: 1.3vw;
    height: 100%;
    border: 0px;
    padding: 0px;
}

#about-1 {
    background: url("../res/images/BlueSkyline_Section1.png")no-repeat;
    background-color: white;
    background-position: 0% 75%;
    background-size: contain;
    padding-top: 6.5%;
    padding-bottom: 7.075%;
}

#about-2 {
    background: url("../res/images/Picture_section1.jpg")no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding-top: 5.714%;
    padding-bottom: 5.714%;
    height: 100%;
    position: relative;
}

.about-text-1 {
    color: #2CA0E2;
    font-family: WorkSans-Light;
    font-size: 2.55vw;
    text-align: center;
}

.about-text-1 > b {
    color: #2CA0E2;
    font-family: WorkSans-medium;
    font-size: 2.36vw;
    text-align: center;
}

.about-text-2 {
    color: white;
    font-family: WorkSans-Regular;
    /*font-size:1.7vw;*/
    font-size: 1.7vw;
    text-align: left;
}

.category-div {
    padding-top: 6.4375%;
    padding-bottom: 6.182%;
    position: relative;
    background-color: white;
}

.rectangle {
    position: absolute;
    top: 0;
    left: 18%;
    z-index: 1;
    width: 17.5%;
    height: 4%;
    background-color: #2CA0E2;
}

#category-text-1 {
    color: #2CA0E2;
    font-size: 3.45vw;
    text-align: center;
    font-family: WorkSans-Light;
}

#category-text-2 {
    color: #2CA0E2;
    font-size: 1.81vw;
    text-align: left;
    font-family: WorkSans-Regular;
}

.category-icon-group {
    display: inline-flex;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.category-icon-div {
    text-align: center;
}

.category-icon-div > p {
    color: #2CA0E2;
    font-family: WorkSans-Regular;
    font-size: 1vw;
}

.category-icon {
    width: 94%;
}

#lets-begin {
    background: url("../res/images/Picture_letsbegin.jpg")no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding-top: 5.714%;
    padding-bottom: 8%;
    height: 100%;
    position: relative;
}

.begin-text-1{
    font-family:Korolev-Bold;
    font-size: 3.25vw;
    color: white;
    text-transform:uppercase;
    text-align:center;
}

.begin-text-2{
    font-family:WorkSans-Regular;
    font-size: 2vw;
    color: white;
    text-align:center;
    margin-bottom:3.25%;
}

.begin-search{
    margin-bottom:10%;
}

.btn-begin{
    text-align:center;
    background-color: #E3c25A;
    color:white;
    font-family:WorkSans-Medium;
    font-size: 1.8vw;
    border-radius:0;
    margin:0 auto;
    text-transform:uppercase;
    width: 19.9%;
    padding-top: 1.4%;
    padding-bottom: 1.4%;
}
.begin-skyline{
    position:absolute;
    top:80%;
}

#A-cities{
    background-color: #263848;
    background-size: contain;
    padding-top: 2.8%;
    padding-bottom: 2.5%;
}

.A-cities-title-1{
    font-family:Korolev-Bold;
    font-size: 3.25vw;
    color: white;
    text-transform:uppercase;
    text-align:left;
    padding-bottom:1.5%;
}

.A-cities-text-1{
    font-family:WorkSans-Regular;
    font-size: 1.7vw;
    color: white;
    text-align:left;
    padding-bottom:4.5%;
}

.A-cities-title-2{
    font-family:Korolev-Medium;
    font-size: 2.8vw;
    color: white;
    text-transform:uppercase;
    text-align:left;
}

.A-cities-text-2{
    font-family:WorkSans-Regular;
    font-size: 1.4vw;
    color: white;
    text-align:left;
}

.city-tiles{
    position:relative;
}

.city-tiles-text-group{
    position:absolute;
    top: 2.5%;
    left: 6%;
}

.city-tiles-text-group > h3{
    font-family:Korolev-Light;
    font-size: 1.8vw;
    color:white;
    text-transform:uppercase;
    margin:0;
}

.city-tiles-text-group > h4{
    font-family:Korolev-Bold;
    font-size: 1vw;
    color:white;
    text-transform:uppercase;
    margin:0;
}

.scoreCircle {
    border-radius: 50%;
    width:70px;
    height:70px;
    background-color: transparent;
    border: 5.33px solid #56DA65;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 1.8vw;
    font-family: Korolev-Heavy;
    position: absolute;
    bottom: 10px;
    right: 25px;
}

.A-cities-description-group{
    padding:0;
}

.A-cities-icon{
    display:inline-block;
    width:15%;
    margin-left: 10%;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
  width:3.5%;
}

.city-tiles-group{
    margin-top:2%;
    margin-bottom:2%;
    padding-left:2.5%;
    padding-right:2.5%;
    position:relative;
}

.footer{
    background: white;
    padding-top:4%;
    padding-bottom:2%
}

.carousel-inner .active.left  { left: -33%;}
.carousel-inner .active.right { left: 33%;}
.carousel-inner .next         { left: 33%;}
.carousel-inner .prev         { left: -33%;}

@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
      left: 0;
      -webkit-transform: translate3d(33%, 0, 0);
      transform: translate3d(33%, 0, 0);
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
      left: 0;
      -webkit-transform: translate3d(-33%, 0, 0);
      transform: translate3d(-33%, 0, 0);
  }
}