.iconImg{

	padding-right: 20%;
	padding-left: 20%;

}

.iconName{
	color: white;
	font-size: 1.2vw;
	text-align: center;
	
}

.section1Header{
	font-size: 2vw;
}

.section1Body{
	font-size: 1.5vw;
	margin-top: 5%;
}

.section2Header{
	font-size: 5vw;
}

.section2Body{
	font-size: 2.5vw;
	padding-left:27%;
	padding-right:27%;
}

.section2Special{
	font-size: 3vw;
}


#section1{

	padding-left: 4%;
	padding-right: 10%;
	

}

#section2{
	padding-top: 15%;
	text-align: center;

}

#headerContainer{
	background-image: url('../res/livability_index/Header_Pic.jpg');
	background-size: 100%; 
	background-repeat: no-repeat;
	height: 100%;
	padding-top: 8.5%;
	padding-bottom: 4%;

}

#explanationContainer{
	padding-top: 5%;
	padding-bottom: 5%;
	color: white;
	background-color:#273848;
	height: 100%;
	
}

#definitionContainer{

	

}

#sumContainer{
}

#livScoreContainer{
}

#categoryContainer{
}

#footerContainer{
}

#livabilityImg{
	position: absolute;
    left: 0px;
    z-index: -1;
	width: 41.5%;
}

#livabilityOutline{
	position: absolute;
	margin-top: 53%;
    left: 0px;
    z-index: 1;
	width:100%;
}

#headerOutline{
	position: relative;
	margin-top:-10%;
    left: 0%;
    z-index: 3;
	width:100%;
}

#pLungsod{

	color: #FFF;
	margin-left: 10%;
	font-size: 5.5vw;
	
}

#pLivability{

	color: #FFF;
	margin-top: -3%;
	margin-left: 10%;
	font-size: 3.7vw;
	
}



