.container-fluid{

	overflow-x:hidden;

}

.scoreCircle{
    border-radius: 50%;
	border-width:70%;
    width:14vw;
    height:14vw;
    background-color: transparent;
    border: 1vw solid ;
	
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 8vw;
    font-family: Korolev-Heavy;
    
}

.scoreLow{
	border-color: #DD5352;
}

.scoreMed{
	border-color: #2C91D3;
}

.scoreHigh{
	border-color: #73C16F;
}

.section4ImgText{
	text-align: center;
	font-size: 2vw;
	padding-top: 20%;
}

.iconImg{

	padding-right: 20%;
	padding-left: 20%;

}

.iconName{
	color: white;
	font-size: 1.2vw;
	text-align: center;
	font-family: WorkSans-Light;
	
}

.section1Header{
	font-size: 1.9vw;
	font-family: WorkSans-Regular;
}

.section1Body{
	font-size: 1.5vw;
	margin-top: 5%;
	font-family: WorkSans-Regular;
}

.section2Header{
	font-size: 5vw;
	font-family: Korolev-Heavy;
}

.section2Body{
	font-size: 2.5vw;
	padding-left:27%;
	padding-right:27%;
	font-family: WorkSans-Light;
}

.section2Special{
	font-size: 3vw;
	font-family: Korolev-Bold;
}

.section3Header{
	font-family: Korolev-Light;
	text-align: center;
	font-size: 3vw;
}

.section3BodyContainer{
	padding-top: 0.5%;
	padding-left: 30%;
	padding-right: 30%;
	font-size: 1.2vw;
	font-family: WorkSans-Regular;
}

.section3Special{
	padding-left: 30%;
	padding-top: 1.3%;
	font-size: 1.5vw;
	font-family: Korolev-Light;
}

.section3Img{
	padding-left: 8%;
	padding-right: 8%;
}

.section3ImgContainer{
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 5%;
}

.section3ImgText{
	text-align: center;
	padding-top: 1.3%;
	font-size: 1.5vw;
	font-family: WorkSans-Regular;
	
}

.section4Text{
	padding-left: 25%;
	padding-right: 25%;
}

.section4Header{
	font-size: 2.5vw;
	font-family: Korolev-Bold;
}

.section4Body{
	font-size: 1.3vw;
	font-family: WorkSans-Medium;
}

.section4ImgContainer{
	padding-top: 10%;
	padding-left: 15%;
	padding-right: 15%;
}

.section4ImgDiv{
	padding-left: 7%;
	padding-right: 7%;
}

.section4Img{
	position:relative;
	z-index: 2;
}

.section4ImgScore{
	position:relative;
	z-index: 4;
	font-size: 5vw;
	text-align: center;
}

.section5TextContainer{
	padding-left: 25%;
	padding-right: 25%;
	padding-bottom: 7%;
}

.section5Header{
	font-size: 2.5vw;
	font-family: Korolev-Bold;
}

.section5Body{
	font-size: 1.3vw;
	font-family: WorkSans-Medium;
}

.wheelText{
	padding: 15%;
	margin-top: 2%;
	color: white;
	width: 100%;
	vertical-align: middle;
}

.circle-container {
    position: relative;
    width: 28em;
    height: 28em;
    padding: 8em;
    /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
    
    margin: 1.75em auto 0;
}
.circle-container a {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    width: 8em; height: 8em;
    margin: -2em;
}
.circle-container img { display: block; width: 100%; }
#deg0 { transform: translate(14em); } /* 12em = half the width of the wrapper */
#deg45 { transform: rotate(45deg) translate(14em) rotate(-45deg); }
#deg90 { transform: rotate(90deg) translate(14em) rotate(-90deg); }
#deg135 { transform: rotate(135deg) translate(14em) rotate(-135deg); }
#deg180 { transform: translate(-14em); }
#deg225 { transform: rotate(225deg) translate(14em) rotate(-225deg); }
#deg270 { transform: rotate(270deg) translate(14em) rotate(-270deg); }
#deg315 { transform: rotate(315deg) translate(14em) rotate(-315deg); }

.section5Text{
	padding-top: 7%;
	padding-left: 10%;
	padding-right: 10%;
	font-family: WorkSans-Light;
}

.section5TextHeader{
	font-size: 2.5vw;
}

.section5TextBody{
	font-size: 1.7vw;]
}

.section6TextContainer{
	padding-left: 25%;
	padding-right: 25%;
	color: #2C91D3;
}

.section6Header{
	font-size: 2.5vw;
	font-family: Korolev-Bold;
}

.section6Body{
	font-size: 1.4vw;
	font-family: WorkSans-Medium;
}

.section6Text{
	font-size: 2vw;
	padding-left: 25%;
	padding-right: 15%;
	padding-top: 4%;
	color: #2C91D3;
	font-family: WorkSans-Regular;
}

.section6Outline{
	margin-top: -3%;
	width:100%;
}

.section6Tile{
	color: white;
	width: 32%;
	padding-top: 4%;
	padding-bottom: 2%;
	
	margin-left: 0.5%;
	margin-right: 0.5%;
}

.ratingHeader{
	font-size: 2.7vw;
}

.ratingTitle{
	font-family: Korolev-Light;
}

.ratingImg{
	margin-top: 7.5%;
}

.ratingBody{
	font-size: 1.3vw;
	font-family: WorkSans-Regular
}

.ratingScore{
	font-family: Korolev-Heavy;
}

.footerTile{
	padding-left: 0px;
	padding-right: 0px;
}


.imgFooter{
	padding-top: 4%;
}

#footerTileContainer{
	padding-left: 0%;
	padding-right: 0%;
}




#section6tilesContainer{
	padding-left: 3.5%;
	padding-right: 3.5%;
	
}

#section6Low{
	background: url("../res/livability_index/Section6_TileLow.jpg")no-repeat;
	background-size: cover;
	height: 20vw;
}

#section6Med{
	background: url("../res/livability_index/Section6_TileAve.jpg")no-repeat;
	background-size: cover;
	height: 20vw;
	
}

#section6High{
	background: url("../res/livability_index/Section6_TileHigh.jpg")no-repeat;
	background-size: cover;
	height: 20vw;
}

#tags{
	position: absolute;
	z-index: 3;
}

#section3LivabilityText{
	font-family: WorkSans-Light;
	margin-top: 21%;	
}

#section3CategoryText{
	margin-top: 18.8%;	
	font-family: WorkSans-Light;
}

#section3RatingText{
	margin-top: 9%;	
	font-family: WorkSans-Light;
}

#section1{

	padding-left: 4%;
	padding-right: 10%;
	

}

#section2{
	padding-top: 15%;
	text-align: center;
	color: #2C91D3;

}

#headerContainer{
	background-image: url('../res/livability_index/Header_Pic.jpg');
	background-size: 100%; 
	background-repeat: no-repeat;
	height: 100%;
	padding-top: 8.5%;
	padding-bottom: 4%;

}

#explanationContainer{
	padding-top: 5%;
	padding-bottom: 5%;
	color: white;
	background-image: url("../res/compare_city/Gradient background.jpg");
    background-size: cover;
	height: 100%;
	
}

#definitionContainer{

	

}

#sumContainer{
	color: #2C91D3;
	margin-top: 20%;
	padding-bottom: 5%;

}

#livScoreContainer{
	background-image: url('../res/livability_index/Section4_BG.jpg');
	background-size: 100%; 
	background-repeat: no-repeat;
	height: 100%;
	padding-top: 6%;
	padding-bottom: 4%;
	color: white;
}

#categoryContainer{
	background-image: url("../res/compare_city/Gradient background.jpg");
	background-size: cover;
	height: 100%;
	background-color:#273848;
	padding-top: 10%;
	padding-bottom: 10%;
	color: white;
}

#ratingsContainer{
	height: 100%;
	padding-top: 7%;
	padding-bottom: 10%;
}

#footerContainer{
padding-bottom: 4%;
padding-top: 4%;
}

#livabilityImg{
	position: absolute;
    left: 0px;
    z-index: -1;
	width: 41.5%;
}

#livabilityOutline{
	position: absolute;
	margin-top: 53%;
    left: 0px;
    z-index: 1;
	width:100%;
}

#headerOutline{
	position: relative;
	margin-top:-10%;
    left: 0%;
    z-index: 3;
	width:100%;
}

#pLungsod{

	color: #FFF;
	margin-left: 10%;
	font-size: 5.5vw;
	font-family: Korolev-Heavy;
	
}

#pLivability{

	color: #FFF;
	margin-top: -3%;
	margin-left: 10%;
	font-size: 3.7vw;
	font-family: Korolev-Light;
}

.livabilityDesc{
	
	height: 100%;
	padding: 0px;
	background-color:#6DA777;	
}

.livabilityImg{

	height: 100%;
	width: 100%;
	opacity: 0;
	 transition: opacity 1s;
    -webkit-transition: opacity 1s;
}

.post-content {
	z-index: 2;
	margin-left: 26%;
    top:0;
    left:0;
    position: absolute;
    color: white;
    padding-top: 8%;
}

.post-content h3{
	font-size: 1.8vw;
	font-family: WorkSans-SemiBold;
}

.post-content h4{
	font-size: 1.2vw;
	font-family: WorkSans-Medium;
	line-height: 150%;
}


#livimg1:hover .livabilityImg{
	opacity: 1;
}
#livimg2:hover .livabilityImg{
	opacity: 1;
}



.livabilityscores{
	margin-left: 32%;
	margin-right: 10%;
	
}
.migrationhelp{
	margin-right: 32%;
	margin-left: 10%;

}
.livabilityscores>h2,
.livabilityscores>p{
	color: white;
}
.migrationhelp>h2,
.migrationhelp>p{
	color: white;
}

.tagRectangle {
    position: absolute;
    top: 4%;
    /*left: 17.5%;*/
    z-index: 1;
    width: 14%;
    height: 1%;
    background-color: #2CA0E2;
}

.catHeader {
	font-family: WorkSans-Regular;
	font-size: 3vw;
	margin-top: -18%;
}

.catBody{
	font-family: WorkSans-Light;
	font-size: 1.4vw;
	width: 85%;
}

.lookForText{
	font-family: WorkSans-Light;
	font-size: 1.4vw;
	color: #2CA0E2;
	padding-top: 2%;
}

.rubricList{
	font-family: WorkSans-Light;
	font-size: 1.1vw;
	margin-left: -4%;
	width: 90%;
}

.rubricList li{
	padding-bottom: 3%;
}

.tagCircle{
	cursor: pointer;
}