.padding-sides-0{
	padding-left: 0;
	padding-right: 0;
}
.search-group{   
	color: #7A7A7A;
	width: 26vw;
	float: right;
	border-radius: 0px;
	margin-top: 2%;
}
.search-group .input-group-addon{
	background: #51BBC8 !important;
	border:0px;

}
.search-group .form-control{
	border-right:0; 
	box-shadow:0 0 0;
	border-right: 12px solid;
	border-image:linear-gradient(to left, rgba(81, 187, 200,0.7), rgba(0, 0, 0, 0)) 1 100%;     
	border-radius: 0;
}
.search-group button{
	background: #51BBC8 !important;
	color:white;
	/*font-size:2vw;*/
	height: 100%;
	border: 0px;
	padding:0px;
}
.navbar-default{
	background-color: rgba(109,167,119,0.7);
	border-color: rgb(109,167,119);
	border: 0px;
	border-radius: 0px;
	color: white;	
	margin-bottom: 0;
}
.navbar-default .navbar-brand{
	
}
.navbar-default .navbar-brand>img{
	height: 100%;
}
.navbar-default .navbar-nav {
	/*display: flex;*/
}
.navbar-default .navbar-nav>li>a {
	width:17.2vw;
	text-align: center;
	font-family: WorkSans-Light;
	text-align: center;
	color: white;
}
.navbar-default .navbar-nav>li>a:hover {
	background-color: rgba(204, 255, 204,0.7)
}
.navbar-default .navbar-nav>.active>a{
	color: white;
	background-color: rgba(50, 120, 114,0.9);
}
.navbar-default .navbar-nav>.active>a:focus, 
.navbar-default .navbar-nav>.active>a:hover {
	background-color: rgba(204, 255, 204,0.7)
}
.gradient{
	border-width: 3px 3px 3px 0;
	border-style: solid;
	-webkit-border-image: 
	-webkit-gradient(linear, 0 0, 100% 0, from(rgba(204, 255, 204,0.7)), to(rgba(204, 242, 241,0.7))) 1 100%;
	-webkit-border-image: 
	-webkit-linear-gradient(left, black, rgba(0, 0, 0, 0)) 1 100%;
	-moz-border-image:
	-moz-linear-gradient(left, black, rgba(0, 0, 0, 0)) 1 100%; 
	-o-border-image:
	-o-linear-gradient(left, black, rgba(0, 0, 0, 0)) 1 100%;
	border-image:
	linear-gradient(to left, rgba(204, 255, 204,0.7), rgba(0, 0, 0, 0)) 1 100%;     
}