@font-face {
	font-family: WorkSans-Black;
	src: url(WorkSans/WorkSans-Black.otf) format('opentype')
}
@font-face {
	font-family: WorkSans-Bold;
	src: url(WorkSans/WorkSans-Bold.otf) format('opentype')
}
@font-face {
	font-family: WorkSans-ExtraBold;
	src: url(WorkSans/WorkSans-ExtraBold.otf) format('opentype')
}
@font-face {
	font-family: WorkSans-ExtraLight;
	src: url(WorkSans/WorkSans-ExtraLight.otf) format('opentype')
}
@font-face {
	font-family: WorkSans-Hairline;
	src: url(WorkSans/WorkSans-Hairline.otf) format('opentype')
}
@font-face {
	font-family: WorkSans-Light;
	src: url(WorkSans/WorkSans-Light.otf) format('opentype')
}
@font-face {
	font-family: WorkSans-Medium;
	src: url(WorkSans/WorkSans-Medium.otf) format('opentype')
}
@font-face {
	font-family: WorkSans-Regular;
	src: url(WorkSans/WorkSans-Regular.otf) format('opentype')
}
@font-face {
	font-family: WorkSans-SemiBold;
	src: url(WorkSans/WorkSans-SemiBold.otf) format('opentype')
}
@font-face {
	font-family: WorkSans-Thin;
	src: url(WorkSans/WorkSans-Thin.otf) format('opentype')
}
@font-face {
	font-family: KorolevBoldItalic;
	src: url('Korolev/Korolev Bold Italic.otf') format('opentype');

}
@font-face {
	font-family: KorolevBold;
	src: url('Korolev/Korolev Bold.otf') format('opentype');
}
@font-face {
	font-family: KorolevHeavyItalic;
	src: url('Korolev/Korolev Heavy Italic.otf') format('opentype');
}
@font-face {
	font-family: KorolevHeavy;
	src: url('Korolev/Korolev Heavy.otf') format('opentype');
}
@font-face {
	font-family: KorolevLightItalic;
	src: url('Korolev/Korolev Light Italic.otf') format('opentype');
}
@font-face {
	font-family: KorolevLight;
	src: url('Korolev/Korolev Light.otf') format('opentype');
}
@font-face {
	font-family: KorolevMediumItalic;
	src: url('Korolev/Korolev Medium Italic.otf') format('opentype');
}
@font-face {
	font-family: KorolevMedium;
	src: url('Korolev/Korolev Medium.otf') format('opentype');
}
@font-face {
	font-family: KorolevThin;
	src: url('Korolev/Korolev Thin.otf') format('opentype');
}